DATABASE_URL=
ENCRYPTION_KEY=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
AUTH_SECRET=
AUTH_URL=http://localhost:3000
NOTION_OAUTH_CLIENT_ID=
NOTION_OAUTH_CLIENT_SECRET=
AI_PROVIDER=openai
AI_PROVIDER_KEY=
RATE_LIMIT_REDIS_URL=
SUPABASE_PROJECT_URL=
SUPABASE_SERVICE_ROLE_KEY=
